.banner {
  background: url('img/img\ ri.jpg') no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 10%;
  color: rgb(17, 248, 237);
}
.share {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  background-color: #333;
  line-height: 40px;
}
.skills .bar {
  height: 30px;
  background-color: white;
  border: 1px solid #ddd;
  border-top-color: rgb(221, 221, 221);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(221, 221, 221);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(221, 221, 221);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(221, 221, 221);
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  margin: 15px 0 10px 0;
  margin-top: 15px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}
* {
  padding: 0;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin: 0;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-family: 'Quicksand', sans-serif;
}
.bar .nilai {
  height: 30px;
  background-color: rgb(60, 255, 0);
  display: inline-block;
  color: rgb(10, 10, 10);
  text-align: center;
}
.html {
  width: 80%;
}
.css {
  width: 65%;
}
.javascript {
  width: 30%;
}
.DESAIN {
  width: 30%;
}
